.navbar {
    background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );
    height: 60px;
    width: 100vw;
    height: 50px;
    background-color: #18283f;
    color: white;
    position: fixed;

    display: flex;
    justify-content: center;
}

.heading-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.favicon {
    height: 20px;
    background-color: white;
    border-radius: 50%;
}